<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>計分者模式</title>
    <link rel="stylesheet" href="./admin.css">
</head>

<body>

    <div id="app">
        
        <h1>計分者模式</h1>
        <div class="clear"><button type="button" @click="clean">全部清除</button></div>
        <h2>設定分數</h2>
        <div class="scoreSetting">
            <div><h3 for="">第一名</h3><input type="number" v-model="scoreArray[0].score"></div>
            <div><h3 for="">第二名</h3><input type="number" v-model="scoreArray[1].score"></div>
            <div><h3 for="">第三名</h3><input type="number" v-model="scoreArray[2].score"></div>
            <div><h3 for="">第四名</h3><input type="number" v-model="scoreArray[3].score"></div>
            <div><h3 for="">第五名</h3><input type="number" v-model="scoreArray[4].score"></div>
            <div><h3 for="">第六名</h3><input type="number" v-model="scoreArray[5].score"></div>
            <div><h3 for="">第七名</h3><input type="number" v-model="scoreArray[6].score"></div>
            <div><h3 for="">第八名</h3><input type="number" v-model="scoreArray[7].score"></div>
            <div><h3 for="">沒　到</h3><input type="number" v-model="scoreArray[8].score"></div>
        </div>

        <main  class="scoreContent">
            <div class="title">
                <div>
                    <h3>參賽人員</h3>
                </div>
                <div><input type="text" v-model="playerArray[0]" placeholder="玩家1" ></div>
                <div><input type="text" v-model="playerArray[1]" placeholder="玩家2" ></div>
                <div><input type="text" v-model="playerArray[2]" placeholder="玩家3" ></div>
                <div><input type="text" v-model="playerArray[3]" placeholder="玩家4" ></div>
                <div><input type="text" v-model="playerArray[4]" placeholder="玩家5" ></div>
                <div><input type="text" v-model="playerArray[5]" placeholder="玩家6" ></div>
                <div><input type="text" v-model="playerArray[6]" placeholder="玩家7" ></div>
                <div><input type="text" v-model="playerArray[7]" placeholder="玩家8" ></div>
            </div>
            <div class="content" v-for="(arr,idx) in game.list" :key="idx">
                <div>
                    <h3>第{{idx+1}}場</h3>
                    <button type="button" @click="removeGame(idx)">移除</button>
                </div>
                <div  v-for="item in arr" :key="item.id">
                    <select name="" id="" v-model="item.score">
                        <option :value="score.title" v-for="score in scoreArray" :key="score.title">{{score.title}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="addGame">
                <button type="button" @click="AddGame" >新增場次</button>
            </div>
            <div class="total">
                <div>
                    <h3>總分</h3>
                </div>
                <div v-for="(score,idx) in TotalScore" :key="score.uid">
                    <h3>{{score.score}}</h3>
                </div>
            </div>
            <div class="rank">
                <div>
                    <h3>排名</h3>
                </div>
                <div v-for="(score,idx) in TotalScore" :key="score.uid">
                    <h3>第 {{GetRanking(score.score)}} 名</h3>
                </div>
            </div>

            <!-- <table>
                <tr>
                    <td>參賽人員</td>
                    <td><input type="text" v-model="playerArray[0]" placeholder="玩家1"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[1]" placeholder="玩家2"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[2]" placeholder="玩家3"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[3]" placeholder="玩家4"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[4]" placeholder="玩家5"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[5]" placeholder="玩家6"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[6]" placeholder="玩家7"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[7]" placeholder="玩家8"
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td></td>
                </tr>
                <tr v-for="(arr,idx) in game.list" :key="idx">
                    <td>第{{idx+1}}場</td>
                    <td v-for="item in arr" :key="item.id">
                        <select name="" id="" v-model="item.score" style="width:93px; margin:0 5px;font-size: 20px;">
                            <option :value="score.title" v-for="score in scoreArray" :key="score.title">{{score.title}}
                            </option>
                        </select>
                    </td>
                    <td><button type="button" @click="removeGame(idx)">移除場次</button></td>
                </tr>
                <tr>
                    <td>總分/名次</td>
                    {{TotalScore}}
                    <td v-for="(score,idx) in TotalScore" :key="score.uid" style="text-align: center;">
                        <p>{{score.score}} / 第{{GetRanking(score.score)}}名</p>
                    </td>
                    <td></td>
                </tr>
            </table> -->
            <!-- <button type="button" style="font-size: 40px;" @click="SaveGame">存檔</button> -->
            <div class="update">
                <button type="button" @click="sendSocket">更新</button>
            </div>
            <div class="disc">
                <h3>使用說明</h3>
                <ul>
                    <li>先輸入分數、參賽者，按更新</li>
                    <li>新增場次，分配參賽者名次，按更新</li>
                    <li>有更改任何輸入框的資料都須按更新才會儲存並更新到其他人的視窗</li>
                    <li>可以一次輸入完資料再按更新，不用改一個按一次</li>
                    <li>不小心按錯直接重整，回到上一步，按到全部清除或更新後就沒救了</li>
                </ul>
            </div>
            

        </main>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous">
    </script>
    <script>
        var socket = null
        const {
            ref,
            reactive,
            computed,
            onMounted,
            watch
        } = Vue;


        const App = {
            setup() {
                socket = io();

                let scoreArray = reactive([{
                        title: '第一名',
                        score: '',
                    },
                    {
                        title: '第二名',
                        score: '',
                    },
                    {
                        title: '第三名',
                        score: '',
                    },
                    {
                        title: '第四名',
                        score: '',
                    },
                    {
                        title: '第五名',
                        score: '',
                    },
                    {
                        title: '第六名',
                        score: '',
                    },
                    {
                        title: '第七名',
                        score: '',
                    },
                    {
                        title: '第八名',
                        score: '',
                    },
                    {
                        title: '沒　到',
                        score: '',
                    },
                ])
                let playerArray = reactive([])
                let game = reactive({list:[]})
                //新增場次
                const AddGame = () => {
                    let tempArray = []
                    let timestamp = Math.floor(Date.now() / 1000);
                    for (let i = 0; i < 8; i++) {
                        tempArray.push({
                            id: timestamp + i,
                            score: ''
                        })
                    }
                    game.list.push(tempArray)
                }

                //計算總分
                const TotalScore = computed(() => {
                    let TotalScoreArray = []
                    for (let j = 0; j < 8; j++) {
                        let total = 0
                        for (let i = 0; i < game.list.length; i++) {
                            let score = scoreArray.filter(sc => sc.title == game.list[i][j].score)
                            total = total + (score && score.length > 0 ? Number(score[0].score) : 0);
                        }
                        TotalScoreArray[j] = {
                            score: total,
                            uid: Math.floor(Date.now() / 1000) + j + Math.random() * 1000
                        };
                    }
                    return TotalScoreArray
                })

                //取得排名
                const GetRanking = (score) => {
                    let tempTotal = [...TotalScore.value]
                    let temp = tempTotal.sort(((a, b) => b.score - a.score))

                    let ranking = temp.findIndex(sc => sc.score == score)
                    return ranking + 1
                }

                //移除場次
                const removeGame = (idx) => {
                    game.list.splice(idx, 1)
                }

                //儲存
                const SaveGame = () => {
                    localStorage.setItem('scoreArray', JSON.stringify(scoreArray))
                    localStorage.setItem('playerArray', JSON.stringify(playerArray))
                    localStorage.setItem('game', JSON.stringify(game))
                    alert('儲存成功')
                }

                //清除
                const clean = () => {
                    Object.assign(playerArray, ['', '', '', '', '', '', '', ''])
                    // game.list.map(item => game.list.pop())
                    Object.assign(game,{list:[]})
                    scoreArray.map(item => item.score = '')
                    localStorage.removeItem('scoreArray')
                    localStorage.removeItem('playerArray')
                    localStorage.removeItem('game')
                    sendSocket()
                }







                //向Socket送出分享資料
                const sendSocket = () => {
                    SaveGame()
                    console.log('傳送');
                    socket.emit('GameDataSource', JSON.stringify({
                        scoreArray,
                        playerArray,
                        game
                    }))
                }

                onMounted(() => {
                    if (localStorage.getItem('scoreArray')) {
                        Object.assign(scoreArray, JSON.parse(localStorage.getItem('scoreArray')))
                    }
                    if (localStorage.getItem('playerArray')) {
                        Object.assign(playerArray, JSON.parse(localStorage.getItem('playerArray')))
                    }
                    if (localStorage.getItem('game')) {
                        Object.assign(game, JSON.parse(localStorage.getItem('game')))
                    }



                    //偵測資料
                    // socket.on('GameDataSend', function (data) {
                    //     console.log(data);

                    // });





                })

                return {
                    scoreArray,
                    game,
                    playerArray,
                    TotalScore,
                    GetRanking,
                    removeGame,
                    AddGame,
                    SaveGame,
                    clean,
                    sendSocket
                }
            }
        }


        Vue.createApp(App).mount("#app");
    </script>
</body>

</html>