<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>參賽者模式</title>
</head>

<body>

    <h1>參賽者模式</h1>
    <div id="app">
        <!-- <div><button type="button" @click="clean">全部清除</button></div> -->
        <!-- <p>設定分數</p> -->
        <div style="display: flex;">
            <div><label for="">第一名</label><input type="number" v-model="scoreArray[0].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第二名</label><input type="number" v-model="scoreArray[1].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第三名</label><input type="number" v-model="scoreArray[2].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第四名</label><input type="number" v-model="scoreArray[3].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第五名</label><input type="number" v-model="scoreArray[4].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第六名</label><input type="number" v-model="scoreArray[5].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第七名</label><input type="number" v-model="scoreArray[6].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">第八名</label><input type="number" v-model="scoreArray[7].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
            <div><label for="">沒　到</label><input type="number" v-model="scoreArray[8].score" disabled
                    style="width:85px; margin:0 5px;font-size: 20px;"></div>
        </div>

        <main style="margin: 30px 0;">
            <!-- <button type="button" @click="AddGame" style="margin: 20px 0;">新增場次</button> -->
            <table>
                <tr>
                    <td>參賽人員</td>
                    <td><input type="text" v-model="playerArray[0]" placeholder="玩家1" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[1]" placeholder="玩家2" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[2]" placeholder="玩家3" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[3]" placeholder="玩家4" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[4]" placeholder="玩家5" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[5]" placeholder="玩家6" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[6]" placeholder="玩家7" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td><input type="text" v-model="playerArray[7]" placeholder="玩家8" disabled
                            style="width:85px; margin:0 5px;font-size: 20px;" /></td>
                    <td></td>
                </tr>
                <tr v-for="(arr,idx) in game.list" :key="idx">
                    <td>第{{idx+1}}場</td>
                    <td v-for="item in arr" :key="item.id">
                        <select name="" id="" v-model="item.score" style="width:93px; margin:0 5px;font-size: 20px;"
                            disabled>
                            <option :value="score.title" v-for="score in scoreArray" :key="score.title">{{score.title}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <!-- <button type="button" @click="removeGame(idx)">移除場次</button> -->
                    </td>
                </tr>
                <tr>
                    <td>總分/名次</td>
                    <!-- {{TotalScore}} -->
                    <td v-for="(score,idx) in TotalScore" :key="score.uid" style="text-align: center;">
                        <p>{{score.score}} / 第{{GetRanking(score.score)}}名</p>
                    </td>
                    <td></td>
                </tr>
            </table>
            <!-- <button type="button" style="font-size: 40px;" @click="SaveGame">存檔</button> -->

        </main>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous">
    </script>
    <script>
        var socket = null
        const {
            ref,
            reactive,
            computed,
            onMounted,
            watch
        } = Vue;


        const App = {
            setup() {
                socket = io();

                let scoreArray = reactive([{
                        title: '第一名',
                        score: '',
                    },
                    {
                        title: '第二名',
                        score: '',
                    },
                    {
                        title: '第三名',
                        score: '',
                    },
                    {
                        title: '第四名',
                        score: '',
                    },
                    {
                        title: '第五名',
                        score: '',
                    },
                    {
                        title: '第六名',
                        score: '',
                    },
                    {
                        title: '第七名',
                        score: '',
                    },
                    {
                        title: '第八名',
                        score: '',
                    },
                    {
                        title: '沒　到',
                        score: '',
                    },
                ])
                let playerArray = reactive([])
                let game = reactive({list:[]})
                //新增場次
                const AddGame = () => {
                    let tempArray = []
                    let timestamp = Math.floor(Date.now() / 1000);
                    for (let i = 0; i < 8; i++) {
                        tempArray.push({
                            id: timestamp + i,
                            score: ''
                        })
                    }
                    game.list.push(tempArray)
                }

                //計算總分
                const TotalScore = computed(() => {
                    let TotalScoreArray = []
                    for (let j = 0; j < 8; j++) {
                        let total = 0
                        for (let i = 0; i < game.list.length; i++) {
                            let score = scoreArray.filter(sc => sc.title == game.list[i][j].score)
                            total = total + (score && score.length > 0 ? Number(score[0].score) : 0);
                        }
                        TotalScoreArray[j] = {
                            score: total,
                            uid: Math.floor(Date.now() / 1000) + j + Math.random() * 1000
                        };
                    }
                    return TotalScoreArray
                })

                //取得排名
                const GetRanking = (score) => {
                    let tempTotal = [...TotalScore.value]
                    let temp = tempTotal.sort(((a, b) => b.score - a.score))

                    let ranking = temp.findIndex(sc => sc.score == score)
                    return ranking + 1
                }

                //移除場次
                const removeGame = (idx) => {
                    game.list.splice(idx, 1)
                }

                //儲存
                const SaveGame = () => {
                    localStorage.setItem('scoreArray', JSON.stringify(scoreArray))
                    localStorage.setItem('playerArray', JSON.stringify(playerArray))
                    localStorage.setItem('game', JSON.stringify(game))
                    // alert('儲存成功')
                }

                //清除
                const clean = () => {
                    Object.assign(playerArray, ['', '', '', '', '', '', '', ''])
                    game.list.map(item => game.list.pop())
                    scoreArray.map(item => item.score = '')
                    localStorage.removeItem('scoreArray')
                    localStorage.removeItem('playerArray')
                    localStorage.removeItem('game')

                }


                //向Socket送出分享資料
                // const sendSocket = () => {
                //     socket.emit('GameDataSource', test.value)
                // }

                onMounted(() => {
                    if (localStorage.getItem('scoreArray')) {
                        Object.assign(scoreArray, JSON.parse(localStorage.getItem('scoreArray')))

                    }
                    if (localStorage.getItem('playerArray')) {
                        Object.assign(playerArray, JSON.parse(localStorage.getItem('playerArray')))
                    }
                    if (localStorage.getItem('game')) {
                        Object.assign(game, JSON.parse(localStorage.getItem('game')))
                    }

                    //偵測資料
                    socket.on('GameDataSend', function (res) {
                        console.log(res);
                        if (res.data) {
                            let data = JSON.parse(res.data);
                            console.log(data);
                            scoreArray = Object.assign(scoreArray,data.scoreArray)
                            playerArray = Object.assign(playerArray,data.playerArray)
                            game = Object.assign(game,data.game)
                            SaveGame()
                        }
                    });

                })

                return {
                    scoreArray,
                    game,
                    playerArray,
                    TotalScore,
                    GetRanking,
                    removeGame,
                    AddGame,
                    SaveGame,
                    clean
                }
            }
        }


        Vue.createApp(App).mount("#app");
    </script>
</body>

</html>